.number{
  font-size: 5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 0;

}
.Container{
  text-align: center;
  border: 3px solid rgb(96, 96, 218);
  width: max-content;
  margin: 50px auto;
}
.button{
  padding: 10px;
  margin: 10px;
  margin-top: 0;
 border-radius: 10px;
  background-color: rgb(99, 167, 225);
}
.button:hover{
  background-color: thistle;
}